* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    color: $textColor;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: $fRegular;
    letter-spacing: .05em;
}

a {
    color: $secondaryColor;
    text-decoration: none;

    &:hover {
        color: darken($secondaryColor, $amount: 10);
    }
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    padding: 5rem 0;
}

.logo-container {
    position: absolute;
    top: 3rem;
    display: flex;
    align-items: center;

    .link {
        margin-left: 3rem;
        font-size: 1.2rem;
        font-weight: $fMedium;
        text-transform: capitalize;
    }

    .logo {
        margin-right: 3rem;
    }

    .logo svg {
        width: 80px;
        fill: none;
    }
}

.banner {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;


    .typo {
        // text-align: center;
        text-align: right;
        height: 80vh;

        img {
            height: 100%;
        }
    }

    .tagline {
        margin-top: 4rem;
        text-transform: uppercase;
        letter-spacing: .05em;

        .subtitle {
            font-weight: $fMedium;
            letter-spacing: .2em;

            strong {
                letter-spacing: .5em;
                margin-right: .5rem;
                position: relative;
                padding-right: 1rem;

                &:after {
                    content: '';
                    height: 5px;
                    width: 5px;
                    background-color: $textColor;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }
        }

        .title {
            font-size: 5rem;
            font-weight: $fLight;
            line-height: 120%;
            margin-top: 1rem;
            width: 100%;
        }

    }
}

.small-section {
    background-color: $primaryColor;
    background-image: url("../images/logo-opa.svg");
    background-position: 100px center;
    background-repeat: no-repeat;
    background-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    padding: 5rem 0;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 150%;

    &.text-left {
        text-align: left;
        text-transform: unset;
    }

    .shapes {
        position: absolute;
        left: -200px;
        top: -500px;
        z-index: -1;
    }

    h3 {
        margin: .25rem 0;
    }

    p {
        font-size: 1.2rem;
    }

    .location {
        margin-top: 3rem;

        h3 {
            font-weight: $fRegular;
            font-size: 2rem;
        }
    }

}

.section-title {
    font-weight: $fEBold;
    font-size: 1.5rem;
    letter-spacing: .2em;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.participants {

    .participants-list {
        display: flex;
        flex-wrap: wrap;
    }

    .list-item {
        width: 50%;
        line-height: 200%;
        letter-spacing: .05em;
    }
}

.workshop {

    h3,
    p {
        margin: 15px 0;
    }

    .workshop-link {
        margin-top: 3rem;

        &.center {
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .register {
            font-size: 1.2rem;
            letter-spacing: .05em;
            font-weight: $fBold;
            display: flex;

            svg {
                width: 24px;
                stroke: $secondaryColor;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 3px;
            }

            &:hover {

                svg {
                    stroke: darken($secondaryColor, $amount: 10);
                }

                .icon {

                    transform: translateX(.5rem);
                }
            }

            .icon {
                margin-left: .5rem;
            }
        }

    }

    .grp {
        margin-top: 3rem;

        .grp-title {
            font-size: 1.5rem;
            font-weight: $fRegular;
            text-transform: uppercase;
        }

        .note {
            margin-top: 2rem;
        }
    }

}

.exh-info {
    text-transform: unset;

    p {
        font-size: 1.8rem;
        line-height: 170%;
    }
}

.aakaar {

    .info {
        margin-top: 1.5rem;
        line-height: 170%;
    }
}

footer {
    color: $textColor;
    padding: 3rem 2rem 2rem;
    border-top: 1px solid $textColor;

    .flex,
    .footer-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-logo {
        margin-bottom: 2rem;

        img {
            height: 80px;
            margin-right: 1rem;
        }
    }

    .contact {
        margin-bottom: 2rem;
    }

    .footer-bottom {
        text-align: center;
        padding-top: 3rem;

        p {
            font-size: 1rem;
            line-height: 170%;
        }
    }
}

.close-register {
    color: $secondaryColor;
    font-weight: $fBold;
    text-transform: uppercase;
}