@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #55382F;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .05em;
  padding-bottom: 200px;
}

a {
  color: #7AA496;
  text-decoration: none;
}

a:hover {
  color: #5f8c7d;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

section {
  padding: 5rem 0;
}

.logo-container {
  position: absolute;
  top: 3rem;
}

.logo-container .logo svg {
  width: 80px;
  fill: none;
}

.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.banner .typo {
  text-align: right;
  height: 80vh;
}

.banner .typo img {
  height: 100%;
}

.banner .tagline {
  margin-top: 4rem;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.banner .tagline .subtitle {
  font-weight: 500;
  letter-spacing: .2em;
}

.banner .tagline .subtitle strong {
  letter-spacing: .5em;
  margin-right: .5rem;
  position: relative;
  padding-right: 1rem;
}

.banner .tagline .subtitle strong:after {
  content: '';
  height: 5px;
  width: 5px;
  background-color: #55382F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.banner .tagline .title {
  font-size: 5rem;
  font-weight: 300;
  line-height: 120%;
  margin-top: 1rem;
  width: 100%;
}

.small-section {
  background-color: #CDC8AE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 400px;
  padding: 5rem 0;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 150%;
}

.small-section .shapes {
  position: absolute;
  left: -200px;
  top: -500px;
  z-index: -1;
}

.small-section h3 {
  margin: .25rem 0;
}

.small-section p {
  font-size: 1.2rem;
}

.small-section .exh-date {
  margin-top: 3rem;
}

.small-section .location h3 {
  font-weight: 400;
  font-size: 2rem;
}

.section-title {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: .2em;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.participants .participants-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.participants .list-item {
  width: 50%;
  line-height: 200%;
  letter-spacing: .05em;
}

.workshop h3,
.workshop p {
  margin: 15px 0;
}

.workshop .workshop-link {
  margin-top: 3rem;
}

.workshop .workshop-link .register {
  font-size: 1.5rem;
  letter-spacing: .05em;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workshop .workshop-link .register svg {
  width: 32px;
  stroke: #7AA496;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.workshop .workshop-link .register:hover svg {
  stroke: #5f8c7d;
}

.workshop .workshop-link .register:hover .icon {
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.workshop .workshop-link .register .icon {
  margin-left: .5rem;
}
/*# sourceMappingURL=main.css.map */